@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
     margin-left: 2%;
}

.everything {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.top {
    display: flex;
    flex-wrap: nowrap;
}

#About_text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 100;
    margin-right: 1%;
}

#About_text p {
    font-weight: 100;
}

.about h1 {
    font-weight: 200;
    margin-bottom: 1%;
    margin-top: 1%;
}

#socials {
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

#socialsimgs {
    display: flex;
    gap: 3%;
    align-items: center;
}

#CarFrame_whiteback {
    display: flex;
    padding: 3%;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    width: 50%;
    height: 30%;
    margin-left: 1%;
    margin-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
}


#contact {
    margin-left: 1%;
    background-color: #eaeaea;
    color: black;
    border-radius: 12px;
    overflow: hidden;
    width: 50%;
    min-width: 520px;
    max-width: 8000px;
    display: flex;

    padding: 24px;
    box-sizing: border-box;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    min-height: 200px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    min-height: 35px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    resize: vertical;
    max-height: 1000px;
}

#contact button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor:crosshair;
}

p {
    color: white;
}

h1 {
    color: white;
}