
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 250;
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}


h1 {
    text-align: center;
    font-size: 46px;
    margin-bottom: 5px;
}

.untertitle {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 17px;
}

.bedanken {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 20px auto;
    color: #ffffff;
    line-height: 1.5;
    font-size: 20px;
}


button {
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 12px 26px;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 450;
    cursor: pointer;
    font-size: 22px;
}

button:hover {
    background-color: #ffffff;
}

.feedback {
    display: block;
    margin: 0 auto;
}

.shop {
    display: block;
    margin: 40px auto 0 auto;
}


.info-grid {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 70px 0;
}

.info-box {
    flex: 1;
}

.info-box h2 {
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
}

.info-box p {
    line-height: 1.6;
    font-size: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #333;
    text-align: left;
}

th {
    color: #e5e5e5;
    font-weight: 500;
    font-size: 22px;
}

td {
    font-size: 19px;
}

.zusammenfassung {
    display: flex;
    flex-direction: column;
    background-color: #333;
    border-radius: 15px;
    padding: 25px 30px;
    width: 400px;
    margin-left: auto;
    margin-top: 40px;
}

.zusammenfassung h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    color: #ffffff;
    font-size: 19px;
}

.row.total {
    font-weight: bold;
    color: #fff;
    font-size: 19px;
    margin: 12px 0;
}

.produkt-zelle {
    display: flex;
    align-items: center;
    gap: 15px;
}

.produkt-zelle img {
    width: 95px;
    height: 115px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(255,255,255,0.15);
}

.produkt-zelle span {
    white-space: nowrap;
}