@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
   font-weight: 100;
   color: white;
}

h1{

     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 80px;
}

.feedback_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}


#contact input,
#contact textarea {
    width: 100%;
    min-height: 35px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    resize: vertical;
    max-height: 1000px;
}

.feedback_submit {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #8f8484;
    color: #ffffff;
    cursor:crosshair;
}

