.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 6%;
    color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 77px;
}

h3 {
    color: white;
    font-size: 55px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;

}

.feedback-text {
    text-align: center;
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
    }

    h3 {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 34px;
    }

    h3 {
        font-size: 26px;
    }
}