@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.a {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
}

.posterimg {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
}

.title {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 64px;
    font-weight: lighter;
    padding-left: 17%;
}

.desc {
    padding-left: 17%;
    padding-right: 16%;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: lighter;
}

.choose {
    padding-left: 17%;
    padding-top: 5%;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: lighter;
}

.buttons {
    display: flex;
    padding-left: 17%;
    gap: 20px;
}

.button {
    background-color: lightgrey;
    font-size: 20px;
    font-weight: bold;
    width: 64px;
    height: 77px;

}

.button:hover {
    background-color: white;

}


.price {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 45px;
    font-weight: lighter;
    padding-left: 17%;
    margin-top: 8%;
}

.anzahl {
    padding-left: 17%;
    display: flex;
    align-items: center;


}

.gui {
    width: 50px;
    height: 50px;

}

.counter {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;

}

.effect {
    background-color: lightgrey;
    font-size: 20px;
}

.effect:hover {
    background-color: white;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 3px;
    overflow: hidden;
    height: 50px;
    width: fit-content;
    border: 2px solid #ffffff;
    margin-left: 17%;

}

.quantity-btn {
    width: 50px;
    height: 50px;
    border: none;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}

.quantity-btn:active {
    background: #F0F0F0;
}

.quantity-value {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: #ffffff;
}

.quantity-icon {
    width: 36px;
    height: 36px;
    color: #000000;

}


.warenkorb {
    margin-left: 17%;
    margin-top: 15%;
    width: 35%;
    height: 5%;
    background-color: white;
    border: none;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.textWarenkorb {
    font-size: 16px;
    margin: 0px;
    color: black;
    padding-left: 0px;
}

.bildWarenkorb {
    margin: 0px;
    padding: 0px;

}