@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}


#everything {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    gap: 20px;
}



#result_text {
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-image {
    max-width: 800px;
    width: 100%;
    display: block;
    border-radius: 20px;
    overflow: hidden;
}