@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.navcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.navlink {
    font-family: "Inter", sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 30px;
    margin: 0px;
}

.navlinks {
    display: flex;
    gap: 50px;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 0 20px;
    width: 35vw;
}

.search-input {
    padding: 15px 0;
    font-size: 20px;
    border: none;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    color: #333;
    outline: none;
}

.search-input::placeholder {
    color: #999;
}

.search-icon {
    color: #333;
    flex-shrink: 0;
    margin-left: 10px;
}
