{% extends 'base.html' %}

{% block title %}Shop CarFrame{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock %}

{% block content %}

<div id="everything" class="about">


    <div class="top">
        <div id="CarFrame_whiteback">
            <img src="{{ url_for('static', filename='CarFrame_whiteback.png') }}" alt="CarFrameLogo" width="100%">
        </div>
        <div id="About_text">
            <h1>About CarFrame</h1>
            <p>CarFrame steht für mehr als nur Poster, wir bringen echte Fahrleidenschaft an deine Wand.
                Unsere designs fangen die Emotion,
                Perfomance und Ästhetik ikonischer Fahrzeuge ein und
                verwandeln sie in hochwertige Kunst.
                Jedes Motiv wird mit Liebe zum Detail gestaltet: clean, modern und zeitlos.
                Ob Supersportler, Tracktools oder Automobile Ikonen;
                CarFrame ist für Alle,
                Die Benzin im Blut haben
                und ihren Lifestyle zeigen wollen.
            </p>
        </div>
    </div>
    <div>
        <div id="socials">
            <h1>Social Media</h1>
            <div id="socialsimgs">
            <img id="instagram"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/500px-Instagram_icon.png"
                height="150px" alt="Instagram Logo"
                onclick="window.location.href='https://www.instagram.com/official.carframe'">
            <img id="Tiktok"
                src="https://static.vecteezy.com/system/resources/thumbnails/016/716/485/small/tiktok-icon-free-png.png"
                height="150px" alt="TikTok Logo"
                onclick="window.location.href='https://www.tiktok.com/@official.carframe?_r=1&_t=ZN-934D43BiUfi'">
                </div>
        </div>
    </div>
    <div>
        <h1 id="socialsh1">Kontaktiere uns!</h1>
        <div id="contact">
            <form action="{{ url_for('submit') }}" method="post">
                <input type="text" id="name" name="name" placeholder="Name">
                <input type="email" id="email" name="email" placeholder="email">
                <textarea id="contact_message" name="message" placeholder="Nachricht" rows="6"></textarea>
                <button type="submit" id="contact_submit">Senden</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}