<head>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/bestellungen.css') }}">
      <script src="{{ url_for('static', filename='js/Bestellungen.js') }}" defer></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% extends 'base.html' %}

{% block title %}Bestellungen CarFrame{% endblock %}

{% block content %}



<div class="einkauf">

      <h1 class="title">Bestellungen</h1>
      <div class="einkaufbalken">

            <!--
            <div class="produkt">
                <img src="app\static\pictures\1\F1 Track.png" alt="Produkt">  

                <p class="price">64.50</p>
                <p class="price" id="product">F1 Track</p>
            </div>

      </div>



      <div class="einkaufliste">


      </div>
-->
      </div>

      <div class="cart-item">
            <img src="{{ url_for('static', filename='pictures/1/F1 Track.png') }}" class="cart-item-image" width="180px"
                  height="auto">
            <div class="cart-item-details">
                  <div class="left-side">
                        <h2 class="">Bestellnummer: 100239143</h2>
                        <p class="">Versanddatum: 19.05.2017</p>
                        <p>Status: Bezahlt</p>

                  </div>

                  <div class="right-side">
                        <p class="cart-item-price">
                             54 CHF</p>
                        <div class="remove-item">
                              <button class="remove-button">Bestellung stornieren</button>
                        </div>

                  </div>


            </div>
      </div>


      {% endblock %}