{% extends 'base.html' %}


{% block title %}Shop CarFrame{% endblock %}

{% block content %}
<div class="content">
    <h1 class="h1">Warenkorb</h1>
    <div class="cart-items">
        <!-- <div class="cart-item">
            <img src="../static/posters/6.png" alt="dd" class="cart-item-image" width="50px" height="auto">
            <div class="cart-item-details">
                <h2 class="cart-item-name">ddd</h2>
                <p class="cart-item-price">dd</p>
                <p class="cart-item-quantity">dd</p>
            </div>
        </div> -->
        {% for item in cart_items %}
        <div class="cart-item">
            <img src="{{ item.image_url }}" alt="{{ item.name }}" class="cart-item-image" width="180px" height="auto">
            <div class="cart-item-details">
                <h2 class="cart-item-name">{{ item.name }}</h2>
                <div class="cart-item-quantity">
                    <button class="quantity-btn" type="button" aria-label="Decrease quantity">
                        <svg class="quantity-icon" width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                    <span class="quantity-value">{{ item.quantity }}</span>
                    <button class="quantity-btn" type="button" aria-label="Increase quantity">
                        <svg class="quantity-icon" width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 5V19M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div class="right-side">
                    <p class="cart-item-price" data-unit-price="{{ item.price }}">{{ item.price }}.- CHF</p>
                    <div class="remove-item">
                        <button class="remove-button"><svg class="trash-icon" width="100%" height="100%"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 6V5.2C16 4.0799 16 3.51984 15.782 3.09202C15.5903 2.71569 15.2843 2.40973 14.908 2.21799C14.4802 2 13.9201 2 12.8 2H11.2C10.0799 2 9.51984 2 9.09202 2.21799C8.71569 2.40973 8.40973 2.71569 8.21799 3.09202C8 3.51984 8 4.0799 8 5.2V6M10 11.5V16.5M14 11.5V16.5M3 6H21M19 6V17.2C19 18.8802 19 19.7202 18.673 20.362C18.3854 20.9265 17.9265 21.3854 17.362 21.673C16.7202 22 15.8802 22 14.2 22H9.8C8.11984 22 7.27976 22 6.63803 21.673C6.07354 21.3854 5.6146 20.9265 5.32698 20.362C5 19.7202 5 18.8802 5 17.2V6"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg></button>
                    </div>

                </div>


            </div>
        </div>
        {% else %}
        <p>Ihr Warenkorb ist leer.</p>
        {% endfor %}
    </div>
    <div class="buy-button-container">
        <button class="buybutton">Zur Kasse</button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock %}