{% extends 'base.html' %}

{% block title %}Feedback{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/feedback.css') }}">
{% endblock %}

{% block content %}
<div id="everything" class="feedback">

    <h1>Feedback</h1>
    <div class="feedback_block">
        <form action="{{ url_for('submit') }}" method="post">
            <label for="name">Vor-/Nachname</label>
            <input type="text" id="name" name="name" placeholder="Name" >
            <label for="email">E-mail Adresse</label>
            <input type="email" id="email" name="email" placeholder="E-mail">



            <label for="feedback_message">Feedback</label>
            <textarea id="feedback_message" name="message" placeholder="Feedback" rows="1"></textarea>

            <button type="submit" id="feedback_submit">Senden</button>
        </form>

    </div>




</div>


{% endblock %}