{% extends 'base.html' %}


{% block title %}Shop CarFrame{% endblock %}

{% block content %}
<div class="filters">
    <button class="filter" id="alle">Alle</button>
    <button class="filter" id="ferrari">Ferrari</button>
    <button class="filter" id="lamborghini">Lamborghini</button>
    <button class="filter" id="porsche">Porsche</button>
    <button class="filter" id="bmw">BMW</button>
    <button class="filter" id="audi">Audi</button>
    <button class="filter" id="jaguar">Jaguar</button>
    <button class="filter" id="bugatti">Bugatti</button>
    <button class="filter" id="others">Others</button>
</div>

<div class="posters">
    <div class="f1">
        <button href="{{ url_for('home') }}"><img src="../static/posters/6.png" alt="Porsche GT3 RS" class="poster" height="600" width="auto"></button>
        <h2 class="poster-text">F1 Track</h2>
        <h3 class="price">38.- CHF</h3>
        <br>
    </div>
    <div class="porschegt3rs">
        <button href="{{ url_for('home') }}"><img src="../static/posters/w.png" alt="Porsche GT3 RS" class="poster" height="600" width="auto"></button>
        <h2 class="poster-text">Porsche GT3 RS</h2>
        <h3 class="price">38.- CHF</h3>
        <br>
    </div>
    <div class="ferrari">
        <button href="{{ url_for('home') }}"><img src="../static/posters/4.png" alt="Porsche GT3 RS" class="poster" height="600" width="auto"></button>
        <h2 class="poster-text">Ferrari Enzo</h2>
        <h3 class="price">38.- CHF</h3>
        <br>
    </div>
    <div class="Jaguar">
        <button href="{{ url_for('home') }}"><img src="../static/posters/1.png" alt="Porsche GT3 RS" class="poster" height="600" width="auto"></button>
        <h2 class="poster-text">Jaguar F-Type</h2>
        <h3 class="price">38.- CHF</h3>
        <br>
    </div>
    <div class="highway">
        <button href="{{ url_for('home') }}"><img src="../static/posters/Just drive, don’t mind.png" alt="Porsche GT3 RS" class="poster" height="600" width="auto"></button>
        <h2 class="poster-text">Just Drive don’t mind</h2>
        <h3 class="price">38.- CHF</h3>
        <br>
    </div>
    <div class="LaFerrari">
        <button href="{{ url_for('home') }}"><img src="../static/posters/2.png" alt="Porsche GT3 RS" class="poster" height="600" width="auto"></button>
        <h2 class="poster-text">Ferrari LaFerrari</h2>
        <h3 class="price">38.- CHF</h3>
        <br>
    </div>
</div>

{% endblock %}