{% extends 'base.html' %}


{% block title %}Shop CarFrame{% endblock %}

{% block content %}
<div class="filters">
    <button class="filter" id="alle">Alle</button>
    
    <div class="filter-dropdown">
        <button class="filter" id="ferrari">Ferrari</button>
        <div class="dropdown-content">
            <a href="#">F8 Tributo</a>
            <a href="#">488 GTB</a>
            <a href="#">LaFerrari</a>
            <a href="#">Enzo</a>
            <a href="#">SF90</a>
        </div>
    </div>
    
    <div class="filter-dropdown">
        <button class="filter" id="lamborghini">Lamborghini</button>
        <div class="dropdown-content">
            <a href="#">Aventador</a>
            <a href="#">Huracán</a>
            <a href="#">Urus</a>
            <a href="#">Revuelto</a>
        </div>
    </div>
    
    <div class="filter-dropdown">
        <button class="filter" id="porsche">Porsche</button>
        <div class="dropdown-content">
            <a href="#">911 GT3 RS</a>
            <a href="#">Taycan</a>
            <a href="#">Cayman GT4</a>
            <a href="#">918 Spyder</a>
        </div>
    </div>
    
    <div class="filter-dropdown">
        <button class="filter" id="bmw">BMW</button>
        <div class="dropdown-content">
            <a href="#">M4 Competition</a>
            <a href="#">M3 CS</a>
            <a href="#">M8</a>
            <a href="#">i8</a>
        </div>
    </div>
    
    <div class="filter-dropdown">
        <button class="filter" id="audi">Audi</button>
        <div class="dropdown-content">
            <a href="#">R8 V10</a>
            <a href="#">RS6 Avant</a>
            <a href="#">RS e-tron GT</a>
            <a href="#">RS7</a>
        </div>
    </div>
    
    <div class="filter-dropdown">
        <button class="filter" id="jaguar">Jaguar</button>
        <div class="dropdown-content">
            <a href="#">F-Type</a>
            <a href="#">F-Pace SVR</a>
            <a href="#">XE SV</a>
        </div>
    </div>
    
    <div class="filter-dropdown">
        <button class="filter" id="bugatti">Bugatti</button>
        <div class="dropdown-content">
            <a href="#">Chiron</a>
            <a href="#">Veyron</a>
            <a href="#">Divo</a>
        </div>
    </div>
    
    <div class="filter-dropdown">
        <button class="filter" id="others">Others</button>
        <div class="dropdown-content">
            <a href="#">McLaren</a>
            <a href="#">Aston Martin</a>
            <a href="#">Mercedes-AMG</a>
        </div>
    </div>
</div>

<div class="posters">
    <div class="f1">
        <button href="{{ url_for('home') }}"><img src="../static/posters/6.png" alt="Porsche GT3 RS" class="poster" height="600" width="auto"></button>
        <h2 class="poster-text">F1 Track</h2>
        <h3 class="price">38.- CHF</h3>
        <br>
    </div>
    <div class="porschegt3rs">
        <button href="{{ url_for('home') }}"><img src="../static/posters/w.png" alt="Porsche GT3 RS" class="poster" height="600" width="auto"></button>
        <h2 class="poster-text">Porsche GT3 RS</h2>
        <h3 class="price">38.- CHF</h3>
        <br>
    </div>
    <div class="ferrari">
        <button href="{{ url_for('home') }}"><img src="../static/posters/4.png" alt="Porsche GT3 RS" class="poster" height="600" width="auto"></button>
        <h2 class="poster-text">Ferrari Enzo</h2>
        <h3 class="price">38.- CHF</h3>
        <br>
    </div>
    <div class="Jaguar">
        <button href="{{ url_for('home') }}"><img src="../static/posters/1.png" alt="Porsche GT3 RS" class="poster" height="600" width="auto"></button>
        <h2 class="poster-text">Jaguar F-Type</h2>
        <h3 class="price">38.- CHF</h3>
        <br>
    </div>
    <div class="highway">
        <button href="{{ url_for('home') }}"><img src="../static/posters/Just drive, don’t mind.png" alt="Porsche GT3 RS" class="poster" height="600" width="auto"></button>
        <h2 class="poster-text">Just Drive don’t mind</h2>
        <h3 class="price">38.- CHF</h3>
        <br>
    </div>
    <div class="LaFerrari">
        <button href="{{ url_for('home') }}"><img src="../static/posters/2.png" alt="Porsche GT3 RS" class="poster" height="600" width="auto"></button>
        <h2 class="poster-text">Ferrari LaFerrari</h2>
        <h3 class="price">38.- CHF</h3>
        <br>
    </div>
</div>

{% endblock %}