<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <script src="{{ url_for('static', filename='javascript/script.js') }}" defer></script>
</head>
{% extends 'base.html' %}

{% block title %}Shop CarFrame{% endblock %}

{% block content %}


<div class="login-container">

    <div class="left">
        <h1 class="title">Willkommen bei CarFrame</h1>
        <p class="description">Melde dich an und verpasse keine neuen Drops! Erhalte exklusiven Zugang zu limitierten CarFrame-Produkten und die besten Rabbattcodes, verwalte deine letzten Bestellungen.</p>
    </div>

    <div class="right">
        <div class="gui">
            <h1 class="userlogin">Willkommen zurück</h1>

       
            <form method="POST" action="{{ url_for('login') }}">
                <div class="fields">

                    <input type="text" name="username" class="Username" placeholder="Benutzername" required autofocus>
                    <input type="password" name="password" class="Password" placeholder="Passwort" required>

                    {% if error %}
                    <div class="error-message">{{ error }}</div>
                    {% endif %}

                    <div class="options">
                        <label>
                            <input type="checkbox" name="remember"> Login merken
                        </label>
                        <a href="#" class="forgot">Passwort vergessen?</a>
                    </div>

                    <button type="submit" class="login-btn">Login</button>

                </div>
            </form>

            <div class="register-link">
                <p>Noch kein Konto? <a href="{{ url_for('register') }}">Hier registrieren</a></p>
            </div>
        </div>
    </div>



</div>


{% endblock %}