<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <script src="{{ url_for('static', filename='javascript/script.js') }}" defer></script>
</head>
{% extends 'base.html' %}

{% block title %}Shop CarFrame{% endblock %}

{% block content %}


<div class="login-container">

    <div class="left">
        <h1 class="title">Welcome to Carframe</h1>
        <p class="description">Melde dich an, um deine Bestellungen zu verwalten, deinen Warenkorb einzusehen und dein
            persoenliches Konto zu nutzen.
            Logge dich jetzt ein und entdecke deine individuellen Carframe-Produkte.</p>
    </div>

    <div class="right">

        <div class="gui">

            <h1 class="userlogin">User Login</h1>

            <div class="fields">

                <input type="text" class="Username" placeholder="Benutzername">
                <input type="password" class="Password" placeholder="Passwort">


                <div class="options">
                    <label>
                        <input type="checkbox"> Login merken
                    </label>

                    <a href="#" class="forgot">Passwort vergessen?</a>
                </div>

                <button class="login-btn">Login</button>



            </div>



        </div>



    </div>



</div>


{% endblock %}